/* ============================= */
/* ARTICLE CONTAINER */
/* ============================= */

.content-section {
  background-color: var(--color-light);
  border: 1px solid rgba(0,0,0,0.08);

  padding: var(--space-md);
  border-radius: var(--radius-md);

  margin-bottom: var(--space-md);
}


/* ============================= */
/* ARTICLE IMAGES ONLY */
/* ============================= */

.content-section img {
  max-width: 100%;
  height: auto;

  border-radius: var(--radius-sm);
}
