body {
  background-color: #FFE5D4;
  font-family: 'Poppins', sans-serif;  
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.py-5 {
    padding-top: 1.8rem !important;
    padding-bottom: 1.8rem !important;
}