.about-section img {
    max-width: 90%;
}

.about-section img {
    border: 4px solid #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: rotate(-2deg);
    transition: all 0.3s ease;
}

.about-section img:hover {
    transform: rotate(0deg) scale(1.05);
}

.main-content-wrapper {
    background: #FFF9F6;
    border-radius: 14px;
    padding: 25px 15px;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.07);
}

.btn-primary {
    background-color: #E08C78 !important;
    border-color: #E08C78 !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #D2959D !important;
    border-color: #D2959D !important;
}

.btn-outline-light {
    border-color: #f1e7d5 !important;
    color: #f1e7d5 !important;
}

.btn-outline-light:hover {
    background-color: #f1e7d5 !important;
    color: #E08C78 !important;
}

.hero-section {
    background: linear-gradient(135deg, #FFB4A2, #E08C78);
    color: #2F2F2F;
}

.about-section {
    background-color: #F8EDE8;
    color: #2F2F2F;
}

.cta-section {
    background-color: #E08C78;
    color: white;
}