{% extends 'common/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
            <h1 class="mb-4">{{ article.title }}</h1>
            {% if user.is_authenticated and user == article.author %}
                <a href="{% url 'article-edit' article.slug %}" class="btn btn-warning mb-3">Edit Article</a>
            {% endif %}
            <p class="text-muted mb-3">{{ article.created_at|date:"F j, Y, g:i a" }}</p>
            <div class="article-content">
                {{ article.content|safe }}
            </div>

            <div class="article-images mt-4">
                {% for image in article.images.all %}
                    <div class="article-image">
                        <img src="{{ image.image.url }}" alt="{{ image.caption }}" class="img-fluid">
                        {% if image.caption %}
                            <p class="text-muted">{{ image.caption }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}