{% extends 'common/base.html' %}

{% block content %}
<article class="article-detail">

    {% if user.is_authenticated and user == article.author %}
        <a href="{% url 'articles:article-edit' article.slug %}" class="btn btn--sm article-edit">
            Edit Article
        </a>
    {% endif %}

    {% if article.thumbnail_url or article.thumbnail %}
    <div class="article-media">
        <img src="{% if article.thumbnail_url %}{{ article.thumbnail_url }}{% else %}{{ article.thumbnail.url }}{% endif %}"
             alt="{{ article.title }}">
    </div>
    {% endif %}

    <header class="article-header">
        <h1>{{ article.title }}</h1>

        <p class="article-meta">
            {{ article.created_at|date:"F j, Y, g:i a" }}
        </p>
    </header>

    <section class="article-content">
        {{ article.content|safe }}
    </section>

    {% if article.images.all %}
    <section class="article-gallery">
        {% for image in article.images.all %}
            <figure class="article-figure">
                <img src="{{ image.image.url }}" alt="{{ image.caption }}">
                
                {% if image.caption %}
                    <figcaption>{{ image.caption }}</figcaption>
                {% endif %}
            </figure>
        {% endfor %}
    </section>
    {% endif %}

</article>
{% endblock %}