{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<article class="article-detail">

    {% if user.is_authenticated and user == article.author %}
        <a href="{% url 'articles:article-edit' article.slug %}" class="btn btn--sm article-edit">
            Edit Article
        </a>
    {% endif %}

    {% if article.thumbnail_url or article.thumbnail %}
    <div class="article-media">
        <img src="{% if article.thumbnail_url %}{{ article.thumbnail_url }}{% else %}{{ article.thumbnail.url }}{% endif %}"
             alt="{{ article.title }}">
    </div>
    {% endif %}

    <header class="article-header">
        <h1>{{ article.title }}</h1>

        <p class="article-meta">
            {{ article.created_at|date:"F j, Y, g:i a" }}
        </p>
    </header>

    <section class="article-content">
        {{ article.content|safe }}
    </section>

    {% if article.images.all %}
    <section class="article-gallery">
        {% for image in article.images.all %}
            <figure class="article-figure">
                <img src="{{ image.image.url }}" alt="{{ image.caption }}">
                
                {% if image.caption %}
                    <figcaption>{{ image.caption }}</figcaption>
                {% endif %}
            </figure>
        {% endfor %}
    </section>
    {% endif %}

    <!-- SHARE -->
    <div class="share-buttons"
         data-url="{{ request.build_absolute_uri }}"
         data-title="{{ article.title|escapejs }}">

        <!-- Facebook -->
        <a class="share-btn" data-platform="facebook"
           href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
           target="_blank" rel="noopener">
            <span class="tooltip">Facebook</span>
            <svg viewBox="0 0 24 24">
                <path d="M22 12a10 10 0 1 0-11.5 9.9v-7h-2.3V12h2.3V9.8c0-2.3 1.4-3.6 3.5-3.6 1 0 2 .2 2 .2v2.2h-1.1c-1.1 0-1.4.7-1.4 1.4V12h2.5l-.4 2.9h-2.1v7A10 10 0 0 0 22 12"/>
            </svg>
        </a>

        <!-- WhatsApp -->
        <a class="share-btn" data-platform="whatsapp"
           href="https://wa.me/?text={{ request.build_absolute_uri|urlencode }}">
            <span class="tooltip">WhatsApp</span>
            <svg viewBox="0 0 24 24">
                <path d="M20 4a10 10 0 0 0-16.5 11.5L2 22l6.7-1.7A10 10 0 1 0 20 4z"/>
            </svg>
        </a>

        <!-- Telegram -->
        <a class="share-btn" data-platform="telegram"
           href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}">
            <span class="tooltip">Telegram</span>
            <svg viewBox="0 0 24 24">
                <path d="M9.9 16.2l-.4 4c.6 0 .9-.3 1.2-.6l2.9-2.8 6 4.4c1.1.6 1.9.3 2.2-1l4-18.6c.4-1.7-.6-2.4-1.7-2l-23 8.8c-1.6.6-1.6 1.5-.3 1.9l5.9 1.8L20.7 6c.6-.4 1.2-.2.7.2"/>
            </svg>
        </a>

        <!-- Viber -->
        <a class="share-btn" data-platform="viber"
           href="viber://forward?text={{ request.build_absolute_uri|urlencode }}">
            <span class="tooltip">Viber</span>
            <svg viewBox="0 0 24 24">
                <path d="M12 2C6.5 2 2 5.7 2 10.3c0 2.6 1.4 4.9 3.6 6.4L5 22l4.2-2.2c.9.2 1.8.3 2.8.3 5.5 0 10-3.7 10-8.3S17.5 2 12 2z"/>
            </svg>
        </a>

        <!-- Copy -->
        <button class="share-btn" id="copy-link" type="button">
            <span class="tooltip">Copy</span>
            <svg viewBox="0 0 24 24">
                <path d="M16 1H4C2.9 1 2 1.9 2 3v12h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2z"/>
            </svg>
        </button>

        <!-- Native -->
        <button class="share-btn" id="native-share" type="button">
            <span class="tooltip">Share</span>
            <svg viewBox="0 0 24 24">
                <path d="M18 16.1c-.8 0-1.5.3-2 .8L8.9 13c.1-.3.1-.6.1-.9s0-.6-.1-.9l7-3.9c.5.5 1.2.8 2 .8 1.7 0 3-1.3 3-3S19.7 2 18 2s-3 1.3-3 3c0 .3 0 .6.1.9l-7 3.9C7.6 9.3 6.9 9 6 9 4.3 9 3 10.3 3 12s1.3 3 3 3c.9 0 1.6-.3 2.1-.8l7.1 3.9c0 .3-.1.5-.1.8 0 1.7 1.3 3 3 3s3-1.3 3-3-1.3-3-3-3z"/>
            </svg>
        </button>

    </div>


    {% if suggested_articles %}
    <div class="container-py-5">
        <div class="row g-4">
            {% for article in suggested_articles %}
                <div class="col-12 col-md-4">
                {% include "articles/components/article_card.html" with article=article %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</article>

<script src="{% static 'javascript/quick-share.js' %}"></script>

{% endblock %}