{% extends 'common/base.html' %}
{% load static %}
{% load static i18n %}

{% block content %}

    <div class="container mt-5">
    <h2 class="category-link">{{ category.label }}  </h2>

    <div class="row">
    {% for article in page_obj %}
    <div class="col-md-4 mb-4 text-center">
        <a href="{% url 'articles:article-detail' article.slug %}" class="article-card-link">
            <div class="card article-card">
                {% if article.thumbnail_url %}
                    <img src="{{ article.thumbnail_url }}" class="article-card-img" alt="{{ article.title }}">
                {% elif article.thumbnail %}
                    <img src="{{ article.thumbnail }}" class="article-card-img" alt="{{ article.title }}">
                {% else %}
                    <img src="{% static 'icons/default-thumbnail.jpg' %}" class="article-card-img" alt="Default thumbnail">
                {% endif %}
                <div class="article-card-body">
                    <h5 class="card-title">
                        {{ article.title }}
                    </h5>
                </div>
            </div>
        </a>
    </div>
    {% empty %}
        <p>No articles in this category yet.</p>
    {% endfor %}
    </div> 


    <!-- Pagination -->
    <div class="d-flex justify-content-center mt-4">
        <ul class="pagination">
            <!-- First Page Link -->
            {% if page_obj.number > 3 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}
    
            <!-- Pages Around Current Page -->
            {% for num in page_obj.paginator.page_range %}
                {% if num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                    {% if num == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
    
            <!-- Ellipsis and Last Page -->
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
            {% endif %}
        </ul>
    </div>


</div>

{% endblock %}