{% extends 'common/base.html' %}
{% load custom_filters %}
{% block content %}
<section class="gradient-custom">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card">
          <div class="card-body p-4">
            <h4 class="text-center mb-4 pb-2">{{ topic.title }}</h4>

            <!-- Loop through discussions -->
            {% for discussion in topic.discussions.all %}
                <a href="{% url 'discussion-detail' discussion.id %}" class="text-decoration-none">
              <div class="discussion-section mt-3">
                <div class="d-flex flex-start">
                  <img class="rounded-circle shadow-1-strong me-3"
                       src="{{ discussion.created_by.profile.profile_picture.url }}"
                       alt="avatar" width="65" height="65" />
                  <div class="flex-grow-1 flex-shrink-1">
                    <div class="d-flex justify-content-between align-items-center">
                      <p class="mb-1">
                        {{ discussion.created_by.username }}
                        <span class="small">- {{ discussion.created_at|timeago_filter }}</span>
                      </p>
                    </div>
                    <p class="small mb-2"><strong>{{ discussion.content }}</strong></p>
                  </div>
                </div>
                <hr>
              </div>
                </a>
            {% endfor %}
          </div>

          <!-- Form for Adding a New Discussion -->
          {% if user.is_authenticated %}
    <h3>Start New Discussion</h3>
    <form method="post" action="">
      {% csrf_token %}
      {{ discussion_form.as_p }}
      <button type="submit" class="btn btn-primary">Create Discussion</button>
    </form>
  {% else %}
    <p>You must <a href="{% url 'login' %}">log in</a> to start a discussion.</p>
  {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
