<footer class="site-footer" style="background-color: #FFB4A2; margin-top 0px margin-bottom: 5px;">
  <div class="footer">
    <div class="footer-section nav-section">
      <ul>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
      <a href="{% url 'impressum' %}">Impressum</a>
      <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
    </div>
    <div class="copyright">
      &copy; {{ now|date:"Y" }} MamaToBe. All rights reserved.
    </div>
  </div>
</footer>
