<nav class="navbar navbar-expand-lg" style="background-color: #f8f9fa; border: 1px solid #ddd; border-radius: 8px; margin: 10px;">
  <div class="container" style="padding-left: 20px; padding-right: 20px;">
    <a class="navbar-brand" href="{% url 'home' %}">MamaToBe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href={% url 'category-list' %}>Forum</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile-display' user_id=request.user.id %}">
                    My Profile
                </a>
            </li>
            <li class="nav-item">
              <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="nav-link btn btn-link" style="border: none; background: none;">
                    Logout
                  </button>
              </form>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create-article' %}">Create Article</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
