body {
  background-color: var(--color-bg);
  color: var(--color-text);

  font-family: var(--font-base);
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.app-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  margin-top: 1.5rem; /* replaces mt-4 */
}