{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<h1>Здравейте!</h1>

    <p>Какво стои зад името Mom to be?</p>

    <p>
        Идеята за името идва от това, че според мен майка не се става от един положителен тест, от една
        дълга бременност или от първото раждане. Да станеш майка е процес, който вероятно продължава
        много дълго или никога не спира.
    </p>
    <p>
        Кой стои зад този сайт?
    </p>
    <p>
        Аз съм Мария, от България, но живея от 13 години във Виена, Австрия. Завършила съм езикова
        гимназия в Пловдив с профил испански език, но по стечение на обстоятелствата животът ме отведе в
        немскоезична страна, където първото предизвикателство беше да науча този толкова труден език, за
        да мога да следвам в университет.
        Практиката тук е, че можеш да се запишеш на курс по немски, когато вече си матрикулиран в някой от
        виенските университети. Направих точно това, като избрах бакалавър „Техническа химия“ в
        Техническия университет. След една година усилия и изпити взех успешно езиковия сертификат и
        започнах следването си.
        Още след първата година обаче усетих, че мястото ми не е там по различни причини. Реших да сменя
        специалността и университета и се явих на приемен изпит по журналистика във Виенския
        университет. След успешния изпит и няколко много трудни семестъра разбрах, че това е пътят, който
        искам да следвам, въпреки че трябваше да се боря с журналистика на немски и професори с тежък
        австрийски акцент.
        Е... за краткия ми опит с езика е нормално понякога да ме късат, макар че тогава не го знаех и всяка
        неуспешна оценка ме отчайваше. Това е демотивиращо и влияе негативно. В същото време обаче се
        запознавах с много колеги – българи и не само – и социалният ми живот беше доста динамичен.
        Намерих си уж временна работа, която постепенно се превърна в постоянна, а университетът остана
        на второ или дори трето място.
        Няколко години и една пандемия по-късно се намирам на прекрасно място в живота си – имам
        чудесен съпруг, малък син и уютен дом тук, в сърцето на класическата столица на Европа. Пиша своя
        малък дневник с желанието да бъда полезна на някой като мен или на човек, който преминава през
        подобни неща.
    </p>

{% endblock %}