{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<h1>Contact Us</h1>

<p>
  We'd love to hear from you. Whether you have questions, feedback, or suggestions, feel free to reach out.
</p>

<h2>Email</h2>
<p>
  <a href="mailto:mariamarina5030@gmail.com">
    mariamarina5030@gmail.com
  </a>
</p>

<!-- <h2>Phone</h2> -->
<!-- <p><a href="tel:+491234567890">+43 000 000 0000</a></p> -->
{% comment %} 
<h2>Social Media</h2>
<ul>
  <li><a href="https://facebook.com/mamatobe">Facebook</a></li>
  <li><a href="https://instagram.com/mamatobe">Instagram</a></li>
</ul> {% endcomment %}

{% endblock %}