{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<div class="impressum">
    <h1 style="margin-bottom: 0.5em;">
        Impressum
    </h1>
    <div class="impressum__name">
        <strong>Maria Martinova</strong>
    </div>
    <div class="impressum__email" style="margin-top: 0.5em;">
        <a href="mailto:mariamarina5030@gmail.com">
            mariamarina5030@gmail.com
    </a>
</div>
    <div class="impressum__telefon">
        +43 681 204 90101
    </div>
    <div class="impressum__addresse" style="margin: 0.5em 0px; white-space: pre-wrap;">
    1150, Wien
    </div>
    <div class="impressum__blattlinie">
        <strong>Blattlinie</strong>: Grundlegende Richtung der Inhalte Deiner Website.
Beispiel: Das allezam Handbuch hat es sich zum Ziel gesetzt, Einzel- und Kleinunternehmern das nötige Wissen zur Verfügung zu stellen, 
um ihren eigenen Online Shop gründen und erfolgreich führen zu können.
</div>
<div class="impressum__allezam" style="font-size: 75%; margin-top: 1em;">
    Erstellt mit dem 
    <a href="https://www.allezam.at">
        allezam
    </a> 
    <a href="https://handbuch.allezam.at/impressum-generator">
        Impressum-Generator
    </a>
</div>
</div>
{% endblock %}