{% load static %}

<a href="{% url 'food:recipe-detail' recipe.slug %}"
   class="text-decoration-none">

  <div class="article-card">

    {% if recipe.thumbnail_url %}
      <img src="{{ recipe.thumbnail_url }}"
           class="article-card-img"
           alt="{{ recipe.title }}">

    {% elif recipe.thumbnail %}
      <img src="{{ recipe.thumbnail.url }}"
           class="article-card-img"
           alt="{{ recipe.title }}">

    {% else %}
      <img src="{% static 'icons/default-thumbnail.jpg' %}"
           class="article-card-img"
           alt="Default thumbnail">
    {% endif %}

    <div class="article-card-body">

      <span class="article-title-link">
        {{ recipe.name }}
      </span>

    </div>

  </div>

</a>