{% extends 'common/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Categories</h2>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'topic-list' category.slug %}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Form to create a new category -->
    {% if user.is_authenticated %}
        <h3>Create a New Category</h3>
        <form method="post">
            {% csrf_token %}
            {{ category_form.as_p }}
            <button type="submit" class="btn btn-primary">Create Category</button>
        </form>
    {% endif %}
</div>
{% endblock %}